:root {
    --primary-color: #ffffff;
    --secondary-color: #2f303a;
    --accent-color: #2196f3;
    --main-color: #212121;
    --text-color: #757575; 

    --main-font: 'Roboto', sans-serif;
    --title-size: 36px;
    --text-size: 14px;
    --secondary-text-size: 16px;
    --text-weight: 500;
}

body {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: var(--text-size);
    line-height: 1.7;
}

.link,
.logo {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.section {
    background-color: var(--primary-color);
}
.current {
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color)
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.button {
    cursor: pointer;
}

.section-title {
    color: var(--main-color);
    font-size: var(--title-size);
    line-height: 1.17;
}

/*Header*/
.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.accent {
    color: var(--accent-color);
}

.navigation-list {
    color: var(--main-color);
    font-weight: var(--text-weight);
    line-height: 1.14;
}

.header-contacts {
    font-weight: var(--text-weight);
    line-height: 1.14;
}

/*Hero*/
.hero {
    background-color: var(--secondary-color);
}
.hero-title {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-btn {
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}

/*Peculiarity*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.peculiarity-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: var(--text-size);
    line-height: 1.14;
    text-transform: uppercase;
}


/*Team*/
.team-title {
    color: var(--main-color);
    font-weight: var(--text-weight);
    font-size: var(--secondary-text-size);
    line-height: 1.19;
}

.team-text {
    font-size: var(--secondary-text-size);
    line-height: 1.19;   
}

.footer {
    background-color: var(--secondary-color);
}

.logo-footer {
    color: var(--primary-color);
}

.address {
    font-style: normal ;
}

.footer-text{
    color: var(--primary-color);

}

/*portfolio*/

.filter-btn {
    color: var(--main-color);
    background-color: #f5f4fA;
    font-weight: var(--text-weight);
    font-size: var(--secondary-text-size);
    line-height: 1.6;
}

.card-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.card-text {
    font-size: var(--secondary-text-size);
    line-height: 1.87;
}